{% extends 'base.html' %}
{% load static %}

{% block title %}
jogadores da campanha
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/campaign_creation.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
{% endblock %}

{% block content %}
<form method="POST" enctype="multipart/form-data">
	<header class ="header">
		<div class="campain">
			<input id="campain" type="text" name="name" placeholder="Nome da campanha" value="{{campaign.name}}" required/>
		</div>
	</header>

	<main class="container">
		<section>
			<h1 class="h1">Escolha os jogadores</h1>

			<div class="players_manager">
				<div class="tables">
					<div class="table">
						<h2>Jogadores</h2>
						<div class="table-search">
							<input id="searchField" type="text" name="search" placeholder="Pesquisar"/>
						</div>
						<div class="table-results" id="user_display"></div>
					</div>

					<div class="table">
						<h2>Campanha</h2>
						<div class="table-results" id="selectedUsers_display">
                            {% for user in users %}
                                <div class="selected-user" id="selectedUser-user-{{user.id}}">
                                    <p>{{user.username}}</p>
                                </div>
                            {% endfor %}
                        </div>
					</div>
				</div>

				<input type="hidden" id="newUsers" name="newUsers">
                <input type="hidden" id="removedUsers" name="removeUsers">
			</div>
		</section>
		<section>
			<div class="configs-section">
				<h2>Configurações da campanha</h2>

				<div class="configs">
					<ul>
						<li class="config"><label>Chat privado: <input type="checkbox" name="chat_private"></label></li>
						<li class="config">
							<label for="image" class="custom-file-upload">
								<i class="fa fa-cloud-upload"></i>Capa da campanha: 
							</label>
							<input type="file" name="cover" id="image" accept="image/*">
						</li>
					</ul>
				</div>
			</div>
		</section>
		<div class="confirm">
			{% csrf_token %}
			<input type="submit" value="Criar campanha" class="submit-button">
		</div>
	</main>
</form>
{% endblock %}

{% block script %}
    <script>
        //variaveis globais
        var selectedUsers = []
        var oldUsers = []
    </script>

    <script>
		//script para pesquisar usuário
		$('#searchField').on('input', ()=> {
			$.ajax({
				url: '/campaign_userSearch/',
				type: 'GET',
				data: {
					'search': $('#searchField').val()
				},
				success: (response)=> {
					clearPlace('user_display')
					setResponse(response)
				},
				error: ()=> {
					console.log('Um erro ocorreu')
				}
			})
		})

		function clearPlace(id) {
			$('#' + id).html('')
		}

		function setResponse(response) {
			for (key=0; key < response.players.length; key++) {
				temp = '<div class="user" id="user-' + response.players[key].id + '">' + '\n' +
					'<p>' + response.players[key].username + '</p>' + '\n' +
					'</div>'

				$('#user_display').append(temp)

				addEvent_user()
			} 
		}
	</script>

	<script>
		//script para selecionar usuário

		function addEvent_user() {
			$('.user').map((index, element)=> {
				id = element.id
                console.log(id)
                console.log($.inArray(id, oldUsers.map(user => user.id)) == 1)
				if($.inArray(id, selectedUsers.map(user => user.id)) == -1 && $.inArray(id, oldUsers.map(user => user.id)) == -1) {
					$('#' + element.id).on('click', (e)=> {
						id = e.currentTarget.id
	
						if($.inArray(id, selectedUsers.map(user => user.id)) == -1) {
							const user = {
								name: $('#' + id + ' p').text(),
								id: id,
								personal_id: id.split('-')[1]
							}
	
							putInSelectedsField(user)
	
							toGray()
						}
					})
				} else {
					toGray()
				}
			})

			function toGray() {
				$('#' + id).css({
					'background-color': 'gray',
					'cursor': 'auto'
				})
			}
		}

		function putInSelectedsField(user) {
			temp = '<div class="selected-user" id="selectedUser-' + user.id + '">' + '\n' +
				'<p>' + user.name + '</p>' + '\n' +
				'</div>'

			$('#selectedUsers_display').append(temp)

			selectedUsers.push(user)

			addInPost()
			addEvent_selectedUser()
		}

		function addInPost() {
			let selecteds = []
			for(i=0; i < selectedUsers.length; i++) {
				const personalId = selectedUsers[i].personal_id
				selecteds.push(parseInt(personalId))
			}
			
			jsonUsers = JSON.stringify(selecteds)
			$('#newUsers').val(jsonUsers)
		}
	</script>

	<script>
		//script para remover o participante dos selecionados

		function addEvent_selectedUser(is_oldUser=false) {
			$('.selected-user').map((index, element) => {
				$('#' + element.id).on('click', (e)=> {
                    id = e.currentTarget.id
                    if (is_oldUser) {
                        removeUser(id, true)
                    } else {
					    removeUser(id)
                    }
				})
			})
		}

		function removeUser(id, is_oldUser=false) {
            $('#' + id).remove()
            const personal_id = id.split('-')[2]
            console.log(id)

            if (is_oldUser) {
                selectedUsers = $.grep(selectedUsers, (element)=> {
                    return element != personal_id
                })
            } else {
                const index = $.inArray(personal_id, selectedUsers.map(user => user.personal_id))
                let jsonValue = JSON.parse($('#selectedUsers').val())

                if (index !== -1) {
                    selectedUsers.splice(index, 1)
                    jsonValue = $.grep(jsonValue, (element)=> {
                        return element != personal_id
                    })

                    jsonValue = JSON.stringify(jsonValue)

                    if(Array.isArray(jsonValue)) {
                        $('#selectedUsers').val(jsonValue)
                    } else {
                        $('#selectedUsers').val([jsonValue])
                    }
                }
            }

			clearUserDisplay(personal_id)
		}

		function clearUserDisplay(id) {
			$('#user-' + id).css({
				'background-color': 'white',
				'cursor': 'pointer'
			})
		}
	</script>

    <script>
        //colocar dados no sistema do front-end
        $('.selected-user').map((index, element)=> {
            const user = {
                name: $('#' + element.id + ' p').text(),
                id: 'user-' + element.id.split('-')[2],
                personal_id: element.id.split('-')[2]
            }

            oldUsers.push(user)
            addEvent_selectedUser(true)
        }) 
    </script>
{% endblock %}