{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/campaign_manage.css' %}">
<link rel="stylesheet" href="{% static 'css/chat.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
{% endblock %}

{% block content %}
<header>
	<a class="back-button" href="/campaign_selection/"><</a>
	<a class="home-page" href="/">
		DED-dices
	</a>
</header>

<main>
    <div class="header">
        <h1>{{campaign.name}}</h1>
    </div>
    <div class="section_display">
        <div class="display_block">
            <h2>personagens</h2>
            <div class="block_content" id="players_display">
                {% for character in characters %}
                <a class="character" href="/play/{{character.id}}/">
                    <p>{{character.name}} - {{character.job}}</p>
                </a>
                {% endfor %}
            </div>
        </div>
        <div class="display_block">
            <h2>Chat</h2>
            <div class="block_content">
                <div id="chat_display"></div>

                <div id="chat_manager">
                    <div class="textInput">
                        <input type="text" name="response" id="inputResponse" maxlength="1000">
                        <button type="button" id="sendMessageButton">></div>
                    </div>
                    <div class="dices_manager">
                        <button type="button" class="dice" id="D4">D4</button>
                        <button type="button" class="dice" id="D6">D6</button>
                        <button type="button" class="dice" id="D8">D8</button>
                        <button type="button" class="dice" id="D10">D10</button>
                        <button type="button" class="dice" id="D12">D12</button>
                        <button type="button" class="dice" id="D20">D20</button>
                        <button type="button" class="dice" id="D100">D100</button>
                    </div>

                    {% csrf_token %}
                </div>
            </div>
        </div>
    </div>
    <div class="entity-manage">
        <h2>Gerenciador de entidades</h2>
        <div class="block_content" id="block_entity">
            <div class="your_entitys">
                <h3>Suas entidades</h3>
                <div class="your_entitys-display" id="entity_display">

                </div>
            </div>

            <div class="entity_token">
                <div class="entity-navbar">
                    <div class="entity-nav">
                        Diego ;-;
                    </div>
                </div>
                <div class="entity_token-display">

                </div>
            </div>
        </div>
        <nav class="entity_nav">
            <a href="/new_entity/at-{{campaign.id}}" class="new_entity-button">Nova entidade</a>
        </nav>
    </div>
</main>
{% endblock %}

{% block script %}
    <script>
        //script para mensagens

        //enviar mensagem
        $('#sendMessageButton').on('click', ()=> {
            sendMessage($('#inputResponse').val())
            $('#inputResponse').val(null)
        })

        function sendMessage(input) {
            if (input.trim() != '') {
                $.ajax({
                    type: 'POST',
                    url: '/sendMessage/{{campaign.id}}/master/',
                    data: {
                        'content': input
                    }
                })
            }
        }

        //receber mensagem
        function getMessage() {
            $.ajax({
                type: 'GET',
                url: '/getMessage/{{campaign.id}}/',
                success: (response)=> {
                    setMessagesInDisplay(response)
                }
            })
        }

        setInterval(getMessage, 500)

        //colocar mensagens no display
        let responseLength
        function setMessagesInDisplay(response) {
            if (response.payload.length == responseLength) {
                return
            }

            responseLength = response.payload.length
            $('#chat_display').html(null)

            for(key = 0; key < response.payload.length; key++) {
                let temp
                if (response.payload[key].owner_id == null) {
                    temp = '<div class="master_message">\n' +
                        '<h3>Você</h3>\n' +
                        '<p>' + response.payload[key].content + '</p>\n' +
                        '</div>'
                } else {
                    temp = '<div class="message">\n' +
                        '<h3>' + response.payload[key].username + '</h3>\n' +
                        '<p>' + response.payload[key].content + '</p>\n' +
                        '</div>'
                }

                $('#chat_display').append(temp)
                $('#chat_display').scrollTop($('#chat_display').prop("scrollHeight"))
            }
        }

        //enviar mensagem ao pressionar enter
        $('#inputResponse').keypress((event)=> {
            if (event.keyCode == 13) {
                $('#sendMessageButton').click()
            }
        })
    </script>

    <script>
        //script para rolagens de dados
        $('.dice').map((index, element)=> {
            $('#' + element.id).on('click', (event)=> {
                diceType = event.currentTarget.id
                diceValue = rollDice(diceType)

                sendMessage(diceType + ': ' + diceValue)
            })
        })

        //rolar dados
        function rollDice(type) {
            type = parseInt(type.match(/\d+/g)[0])
            
            return Math.floor(Math.random() * type) + 1
        }
    </script>
{% endblock %}