{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/campaign_selection.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
{% endblock %}

{% block content %}
<div class="container">
	<div class="header">
		<h1>Seleção de Campanha</h1>
		<a class="new-char" href="/campaign_creation/">Nova campanha</a>
	</div>
	<form class="search-container" method="GET">
		<input type="text" placeholder="Pesquisar..." name="search_input">
		<input type="submit" class="search-btn" value="Pesquisar" name="search">
	</form>
	<div class="display-container">
		{% for campaign in campaigns %}
		<div class="campaign">

			<a href="/campaign_manage/{{campaign.id}}/">
				{% if campaign.cover %}
				<img src="{{campaign.cover.url}}" alt="Imagem da campanha">
				{% else %}
				<img src="{% static 'imgs/default_cover.png' %}" alt="Imagem da campanha">
				{% endif %}
			</a>

			<h2>{{campaign.name}}</h2>
			<div class="buttons">
				<a class="edit-btn" href="/campaign_edit/{{campaign.id}}/">Editar</a>
				<a class="delete-btn" href='/campaign_delete/{{campaign.id}}/'>Excluir</a>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}

{% block script %}
	<script>
		$('.delete-btn').on('click', (e)=> {
			e.preventDefault()
			
			if (confirm('Tem certeza? Essa ação não pode ser desfeita.')) {
				window.location.href = $(e.target).attr('href')
			}
		})
	</script>
{% endblock %}