{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/character_edit.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
{% endblock %}

{% block content %}
<div class="container">
	<form method="POST" enctype="multipart/form-data">
		<div class="header">
			<input type="text" name="name" maxlength="50" placeholder="Nome do personagem" class="character-name" value="{{character.name}}" required>

			<div class="character-upperFeatures">
				<input type="text" name="job" maxlength="20" placeholder="Classe" class="upperFeatures" value="{{character.job}}" required>
				<input type="number" name="lvl" min="1" max="100" placeholder="Nível" class="upperFeatures" value="{{character.lvl}}" required>
				<input type="text" name="background" maxlength="20" placeholder="Antecedente" class="upperFeatures" value="{{character.background}}" required>
				<input type="text" name="race" maxlength="20" placeholder="Raça" class="upperFeatures" value="{{character.race}}" required>
				<input type="number" name="experience" max="1000000000" placeholder="Experiência" value="{{character.experience}}" class="upperFeatures">

				<div>
					<label for="image" class="custom-file-upload">
						<i class="fa fa-cloud-upload"></i> Escolha um arquivo
					</label>
					<input type="file" name="portrait" id="image" accept="image/*">
				</div>
			</div>
		</div>

		<div class="first-page">
			<div class="col-1">
				<div class="modifier">
					<p>Força</p>
					<input type="number" name="strength_modifier" value="{{atributes.strength_modifier}}" max="20" value="0" class="modifier-input">
					<input type="number" name="strength_atribute" value="{{atributes.strength_atribute}}" max="50" value="10" class="atribute-input">
				</div>

				<div class="modifier">
					<p>Destreza</p>
					<input type="number" name="dexterity_modifier" value="{{atributes.dexterity_modifier}}" max="20" value="0" class="modifier-input">
					<input type="number" name="dexterity_atribute" value="{{atributes.dexterity_atribute}}" max="50" value="10" class="atribute-input">
				</div>

				<div class="modifier">
					<p>Constituição</p>
					<input type="number" name="constituition_modifier" value="{{atributes.constituition_modifier}}" max="20" value="0" class="modifier-input">
					<input type="number" name="constituition_atribute" value="{{atributes.constituition_atribute}}" max="50" value="10" class="atribute-input">
				</div>

				<div class="modifier">
					<p>Inteligência</p>
					<input type="number" name="intelligence_modifier" value="{{atributes.intelligence_modifier}}" max="20" value="0" class="modifier-input">
					<input type="number" name="intelligence_atribute" value="{{atributes.intelligence_atribute}}" max="50" value="10" class="atribute-input">
				</div>

				<div class="modifier">
					<p>Sabedoria</p>
					<input type="number" name="wisdom_modifier" max="20" value="{{atributes.wisdom_modifier}}" value="0" class="modifier-input">
					<input type="number" name="wisdom_atribute" max="50" value="{{atributes.wisdom_atribute}}" value="10" class="atribute-input">
				</div>

				<div class="modifier">
					<p>Carisma</p>
					<input type="number" name="charisma_modifier" value="{{atributes.charisma_modifier}}" max="20" value="0" class="modifier-input">
					<input type="number" name="charisma_atribute" value="{{atributes.charisma_atribute}}" max="50" value="10" class="atribute-input">
				</div>
			</div>

			<div class="col-2">
				<div class="bonus">
					<div class="inspiration">
						<input type="number" name="inspiration" value="{{skills.inspiration}}" max="100">
						<p>Inspiração</p>
					</div>
					<div class="proeficiency">
						<input type="number" name="proeficiency" value="{{skills.proeficiency}}" max="20">
						<p>Proeficiência</p>
					</div>
				</div>

				<div class="saveguard">
					<p>Testes de resistência</p>
	
					<div class="saveguard-attribute">
						<input type="checkbox" name="strength_proeficiency" class="saveguard-input" id="strength" {% if skills.strength_proeficiency %}checked{% endif %}>
						<label for="strength">Força</label>
					</div>
					
					<div class="saveguard-attribute">
						<input type="checkbox" name="dexterity_proeficiency" class="saveguard-input" id="dexterity" {% if skills.dexterity_proeficiency %}checked{% endif %}>
						<label for="dexterity">Destreza</label>
					  </div>
					  
					  <div class="saveguard-attribute">
						<input type="checkbox" name="constituition_proeficiency" class="saveguard-input" id="constituition" {% if skills.constituition_proeficiency %}checked{% endif %}>
						<label for="constituition">Constituição</label>
					  </div>
					  
					  <div class="saveguard-attribute">
						<input type="checkbox" name="intelligence_proeficiency" class="saveguard-input" id="intelligence" {% if skills.intelligence_proeficiency %}checked{% endif %}>
						<label for="intelligence">Inteligência</label>
					  </div>
					  
					  <div class="saveguard-attribute">
						<input type="checkbox" name="wisdom_proeficiency" class="saveguard-input" id="wisdom" {% if skills.wisdom_proeficiency %}checked{% endif %}>
						<label for="wisdom">Sabedoria</label>
					  </div>
					  
					  <div class="saveguard-attribute">
						<input type="checkbox" name="charisma_proeficiency" class="saveguard-input" id="charisma" {% if skills.charisma_proeficiency %}checked{% endif %}>
						<label for="charisma">Carisma</label>
					  </div>
					
				</div>

				<div class="skills">
					<p>Perícias</p>
	
					<div class="skills-proeficiency">
						<input type="checkbox" name="athletics_proeficiency" class="skill-input" id="athletics-strength" {% if skills.athletics_proeficiency %}checked{% endif %}>
						<label for="athletics">Atletismo - (For)</label>
					</div>
	
					<div class="skills-proeficiency">
						<input type="checkbox" name="stunt_proeficiency" class="skill-input" id="stunt-dexterity" {% if  skills.stunt_proeficiency %}checked{% endif %}>
						<label for="stunt">Acrobacia - (Des)</label>
					</div>
	
					<div class="skills-proeficiency">
						<input type="checkbox" name="stealth_proeficiency" class="skill-input" id="stealth-dexterity" {% if  skills.stealth_proeficiency %}checked{% endif %}>
						<label for="stealth">Furtividade - (Des)</label>
					</div>
	
					<div class="skills-proeficiency">
						<input type="checkbox" name="sleight_proeficiency" class="skill-input" id="sleight-dexterity" {% if  skills.sleight_proeficiency %}checked{% endif %}>
						<label for="sleight">Prestidigitação - (Des)</label>
					</div>
	
	
					<div class="skills-proeficiency">
						<input type="checkbox" name="arcana_proeficiency" class="skill-input" id="arcana-intelligence" {% if  skills.arcana_proeficiency %}checked{% endif %}>
						<label for="arcana">Arcanismo - (Int)</label>
					</div>
	
					<div class="skills-proeficiency">
						<input type="checkbox" name="history_proeficiency" class="skill-input" id="history-intelligence" {% if  skills.history_proeficiency %}checked{% endif %}>
						<label for="history">História - (Int)</label>
					</div>
	
					<div class="skills-proeficiency">
						<input type="checkbox" name="investigation_proeficiency" class="skill-input" id="investigation-intelligence" {% if  skills.investigation_proeficiency %}checked{% endif %}>
						<label for="investigation">Investigação - (Int)</label>
					</div>
	
					<div class="skills-proeficiency">
						<input type="checkbox" name="medicine_proeficiency" class="skill-input" id="medicine-intelligence" {% if  skills.medicine_proeficiency %}checked{% endif %}>
						<label for="medicine">Medicina - (Int)</label>
					</div>
	
					<div class="skills-proeficiency">
						<input type="checkbox" name="nature_proeficiency" class="skill-input" id="nature-intelligence" {% if  skills.nature_proeficiency %}checked{% endif %}>
						<label for="nature">Natureza - (Int)</label>
					</div>
	
					<div class="skills-proeficiency">
						<input type="checkbox" name="religion_proeficiency" class="skill-input" id="religion-intelligence" {% if  skills.religion_proeficiency %}checked{% endif %}>
						<label for="religion">Religião - (Int)</label>
					</div>
	
					
					<div class="skills-proeficiency">
						<input type="checkbox" name="acting_proeficiency" class="skill-input" id="acting-charisma" {% if  skills.acting_proeficiency %}checked{% endif %}>
						<label for="acting">Atuação - (Car)</label>
					</div>
	
					<div class="skills-proeficiency">
						<input type="checkbox" name="bluff_proeficiency" class="skill-input" id="bluff-charisma" {% if  skills.bluff_proeficiency %}checked{% endif %}>
						<label for="bluff">Blefar - (Car)</label>
					</div>
	
					<div class="skills-proeficiency">
						<input type="checkbox" name="intimidation_proeficiency" class="skill-input" id="intimidation-charisma" {% if  skills.intimidation_proeficiency %}checked{% endif %}>
						<label for="intimidation">Intimidação - (Car)</label>
					</div>
	
					<div class="skills-proeficiency">
						<input type="checkbox" name="intuition_proeficiency" class="skill-input" id="intuition-charisma" {% if  skills.intuition_proeficiency %}checked{% endif %}>
						<label for="intuition">Intuição - (Car)</label>
					</div>
	
					<div class="skills-proeficiency">
						<input type="checkbox" name="persuasion_proeficiency" class="skill-input" id="persuasion-charisma" {% if  skills.persuasion_proeficiency %}checked{% endif %}>
						<label for="persuasion">Persuasão - (Car)</label>
					</div>
	
					<div class="skills-proeficiency">
						<input type="checkbox" name="animal_proeficiency" class="skill-input" id="animal-wisdom" {% if  skills.animal_proeficiency %}checked{% endif %}>
						<label for="animal">Adestrar - (Sab)</label>
					</div>
	
					<div class="skills-proeficiency">
						<input type="checkbox" name="perception_proeficiency" class="skill-input" id="perception-wisdom" {% if  skills.perception_proeficiency %}checked{% endif %}>
						<label for="perception">Percepção - (Sab)</label>
					</div>
	
					<div class="skills-proeficiency">
						<input type="checkbox" name="survive_proeficiency" class="skill-input" id="survive-wisdom" {% if  skills.survive_proeficiency %}checked{% endif %}>
						<label for="survive">Sobrevivência - (Sab)</label>
					</div>
				</div>
			</div>


			<div class="col-3">
				<div class="body_statistics-defined">
                    <div class="body_statistic">
                        <input type="number" name="class_armor" id="ca" value="{{characteristics.class_armor}}" required>
                        <p>CA</p>
                    </div>
                    <div class="body_statistic">
                        <input type="number" name="iniciative" id="iniciative" value="{{characteristics.iniciative}}" required>
                        <p>iniciativa</p>
                    </div>
                    <div class="body_statistic">
                        <input type="number" name="displacement" id="displacement" value="{{characteristics.displacement}}" required>
                        <p>Deslocamento</p>
                    </div>
                    <div class="body_statistic">
                        <input type="number" name="hp_max" id="hp_max" value="{{characteristics.hp_max}}" required>
                        <p>HP</p>
                    </div>
                </div>

				<div class="language_and_other_skills-field">
					<textarea name="language_and_other_skills" maxlength="5000">{{characteristics.language_and_other_skills}}</textarea>
					<p>Idiomas e outras proeficiências</p>
				</div>

				<div class="equipment-field">
					<div class="equipment-content">
						<div class="money">
							<label class="money_category" for="pc">
								PC <input type="number" name="pc" value="{{characteristics.pc}}" id="pc" placeholder="PC" max="1000">
							</label>
							<label class="money_category" for="pp">
								PP <input type="number" name="pp" value="{{characteristics.pp}}" id="pp" placeholder="PP" max="1000">
							</label>
							<label class="money_category" for="po">
								PO <input type="number" name="po" value="{{characteristics.po}}" id="po" placeholder="PO" max="1000">
							</label>
							<label class="money_category" for="pl">
								PL <input type="number" name="pl" value="{{characteristics.pl}}" id="pl" placeholder="PL" max="1000">
							</label>
							<label class="money_category" for="da">
								DA <input type="number" name="da" value="{{characteristics.da}}" id="da" placeholder="DA" max="1000">
							</label>
						</div>

						<textarea name="equipments" maxlength="2000">{{characteristics.equipments}}</textarea>
					</div>

					<p>Equipamentos</p>
				</div>
			</div>

			<div class="col-4">
				<div class="character-characteristics">
					<div class="characteristics">
						<textarea name="ideals" maxlength="5000">{{characteristics.ideals}}</textarea>
						<p>Ideais</p>
					</div>
					<div class="characteristics">
						<textarea name="ligations" maxlength="5000">{{characteristics.ligations}}</textarea>
						<p>Ligações</p>
					</div>
					<div class="characteristics">
						<textarea name="defects" maxlength="5000">{{characteristics.defects}}</textarea>
						<p>Defeitos</p>
					</div>
				</div>

				<div class="characteristics_and_skills">
					<textarea name="characteristics_and_skills" maxlength="5000">{{characteristics.characteristics_and_skills}}</textarea>
					<p>Características e habilidades</p>
				</div>
			</div>
		</div>

		<div class="second-page">
			<div class="appaerance">
				<textarea name="appaerance" maxlength="5000">{{characteristics.appaerance}}</textarea>
				<p>Aparência</p>
			</div>
			<div class="other_characteristics">
				<textarea name="other_characteristics" maxlength="5000">{{characteristics.other_characteristics}}</textarea>
				<p>Outras características e habilidades</p>
			</div>

			<div class="allies_and_organizations">
				<textarea name="allies_and_organizations" maxlength="5000">{{characteristics.allies_and_organizations}}</textarea>
				<p>Aliados e organizações</p>
			</div>
			<div class="inventory">
				<textarea name="inventory" maxlength="5000">{{characteristics.inventory}}</textarea>
				<p>Inventário</p>
			</div>
		</div>

		<div class="third-page">
			<div class="col-6">
				<div class="history">
					<textarea name="history" maxlength="50000">{{characteristics.history}}</textarea>
					<p>História</p>
				</div>
			</div>
		</div>

		<div class="four-page">
			<div class="col-7">
				<div class="physical_attacks">
					<div class="attack-header">
						<h2>Ataques físicos</h2>
						<button id="new_attack_physical" type="button">Novo ataque</button>
					</div>
					<div class="physical_attacks-field">
						{% for attack in attacks %}
						{% if attack.type == 'physical' %}
						<div class="attack created" id="attack_physical_config-{{attack.id}}-created">
							<h2>{{attack.name}}</h2>
							<input type="hidden" id='attack_physical_data-{{attack.id}}' value='{"name": "{{attack.name}}", "dice_1": "{{attack.dice_1}}","dice_2": "{{attack.dice_2}}","dice_3": "{{attack.dice_3}}","roll_1": {%if attack.roll_1 %}{{attack.roll_1}}{% else %}null{% endif %},"roll_2": {%if attack.roll_2 %}{{attack.roll_2}}{% else %}null{% endif %},"roll_3": {%if attack.roll_3 %}{{attack.roll_3}}{% else %}null{% endif %},"damage_modifier": {%if attack.damage_modifier %}{{attack.damage_modifier}}{% else %}null{% endif %},"attribute_modifier": "{{attack.attribute_modifier}}","proficiency": {%if attack.proficiency %}true{% else %}false{% endif %},"description": "{{attack.description}}", "type": "{{attack.type}}"}'>
						</div>
						{% endif %}
						{% endfor %}
					</div>
				</div>

				<div class="magics_attacks">
					<div class="attack-header">
						<h2>Ataques mágicos</h2>
						<button id="new_attack_magic" type="button">Novo ataque</button>
					</div>
					<div class="magic_attacks-field">
						<div class="magic_lvl lvl_0">
							<h2>Truques</h2>
							<div class="lvl-content" id="lvl_0">
								{% for attack in attacks %}
								{% if attack.type == 'magic' and attack.magic_lvl == 'lvl_0' %}
								<div class="attack created" class="created" id="attack_magic_config-{{attack.id}}-created">
									<h2>{{attack.name}}</h2>
									<input type="hidden" id='attack_magic_data-{{attack.id}}' value='{"name": "{{attack.name}}", "magic_lvl": "{{attack.magic_lvl}}", "dice_1": "{{attack.dice_1}}","dice_2": "{{attack.dice_2}}","dice_3": "{{attack.dice_3}}","roll_1": {%if attack.roll_1 %}{{attack.roll_1}}{% else %}null{% endif %},"roll_2": {%if attack.roll_2 %}{{attack.roll_2}}{% else %}null{% endif %},"roll_3": {%if attack.roll_3 %}{{attack.roll_3}}{% else %}null{% endif %},"damage_modifier": {%if attack.damage_modifier %}{{attack.damage_modifier}}{% else %}null{% endif %},"attribute_modifier": "{{attack.attribute_modifier}}","proficiency": {%if attack.proficiency %}true{% else %}false{% endif %},"description": "{{attack.description}}", "type": "{{attack.type}}"}'>
								</div>
								{% endif %}
								{% endfor %}
							</div>
						</div>
						<div class="magic_lvl lvl_1">
							<h2>LVL 1</h2>
							<div class="lvl-content" id="lvl_1">
								{% for attack in attacks %}
								{% if attack.type == 'magic' and attack.magic_lvl == 'lvl_1' %}
								<div class="attack created" id="attack_magic_config-{{attack.id}}-created">
									<h2>{{attack.name}}</h2>
								</div>
								<input type="hidden" id='attack_magic_data-{{attack.id}}' value='{"name": "{{attack.name}}", "magic_lvl": "{{attack.magic_lvl}}", "dice_1": "{{attack.dice_1}}","dice_2": "{{attack.dice_2}}","dice_3": "{{attack.dice_3}}","roll_1": {%if attack.roll_1 %}{{attack.roll_1}}{% else %}null{% endif %},"roll_2": {%if attack.roll_2 %}{{attack.roll_2}}{% else %}null{% endif %},"roll_3": {%if attack.roll_3 %}{{attack.roll_3}}{% else %}null{% endif %},"damage_modifier": {%if attack.damage_modifier %}{{attack.damage_modifier}}{% else %}null{% endif %},"attribute_modifier": "{{attack.attribute_modifier}}","proficiency": {%if attack.proficiency %}true{% else %}false{% endif %},"description": "{{attack.description}}", "type": "{{attack.type}}"}'>
								{% endif %}
								{% endfor %}
							</div>
						</div>
						<div class="magic_lvl lvl_2">
							<h2>LVL 2</h2>
							<div class="lvl-content" id="lvl_2">
								{% for attack in attacks %}
								{% if attack.type == 'magic' and attack.magic_lvl == 'lvl_2' %}
								<div class="attack created" id="attack_magic_config-{{attack.id}}-created">
									<h2>{{attack.name}}</h2>
								</div>
								<input type="hidden" id='attack_magic_data-{{attack.id}}' value='{"name": "{{attack.name}}", "magic_lvl": "{{attack.magic_lvl}}", "dice_1": "{{attack.dice_1}}","dice_2": "{{attack.dice_2}}","dice_3": "{{attack.dice_3}}","roll_1": {%if attack.roll_1 %}{{attack.roll_1}}{% else %}null{% endif %},"roll_2": {%if attack.roll_2 %}{{attack.roll_2}}{% else %}null{% endif %},"roll_3": {%if attack.roll_3 %}{{attack.roll_3}}{% else %}null{% endif %},"damage_modifier": {%if attack.damage_modifier %}{{attack.damage_modifier}}{% else %}null{% endif %},"attribute_modifier": "{{attack.attribute_modifier}}","proficiency": {%if attack.proficiency %}true{% else %}false{% endif %},"description": "{{attack.description}}", "type": "{{attack.type}}"}'>
								{% endif %}
								{% endfor %}
							</div>
						</div>
						<div class="magic_lvl lvl_3">
							<h2>LVL 3</h2>
							<div class="lvl-content" id="lvl_3">
								{% for attack in attacks %}
								{% if attack.type == 'magic' and attack.magic_lvl == 'lvl_3' %}
								<div class="attack created" id="attack_magic_config-{{attack.id}}-created">
									<h2>{{attack.name}}</h2>
								</div>
								<input type="hidden" id='attack_magic_data-{{attack.id}}' value='{"name": "{{attack.name}}", "magic_lvl": "{{attack.magic_lvl}}", "dice_1": "{{attack.dice_1}}","dice_2": "{{attack.dice_2}}","dice_3": "{{attack.dice_3}}","roll_1": {%if attack.roll_1 %}{{attack.roll_1}}{% else %}null{% endif %},"roll_2": {%if attack.roll_2 %}{{attack.roll_2}}{% else %}null{% endif %},"roll_3": {%if attack.roll_3 %}{{attack.roll_3}}{% else %}null{% endif %},"damage_modifier": {%if attack.damage_modifier %}{{attack.damage_modifier}}{% else %}null{% endif %},"attribute_modifier": "{{attack.attribute_modifier}}","proficiency": {%if attack.proficiency %}true{% else %}false{% endif %},"description": "{{attack.description}}", "type": "{{attack.type}}"}'>
								{% endif %}
								{% endfor %}
							</div>
						</div>
						<div class="magic_lvl lvl_4">
							<h2>LVL 4</h2>
							<div class="lvl-content" id="lvl_4">
								{% for attack in attacks %}
								{% if attack.type == 'magic' and attack.magic_lvl == 'lvl_4' %}
								<div class="attack created" id="attack_magic_config-{{attack.id}}-created">
									<h2>{{attack.name}}</h2>
								</div>
								<input type="hidden" id='attack_magic_data-{{attack.id}}' value='{"name": "{{attack.name}}", "magic_lvl": "{{attack.magic_lvl}}", "dice_1": "{{attack.dice_1}}","dice_2": "{{attack.dice_2}}","dice_3": "{{attack.dice_3}}","roll_1": {%if attack.roll_1 %}{{attack.roll_1}}{% else %}null{% endif %},"roll_2": {%if attack.roll_2 %}{{attack.roll_2}}{% else %}null{% endif %},"roll_3": {%if attack.roll_3 %}{{attack.roll_3}}{% else %}null{% endif %},"damage_modifier": {%if attack.damage_modifier %}{{attack.damage_modifier}}{% else %}null{% endif %},"attribute_modifier": "{{attack.attribute_modifier}}","proficiency": {%if attack.proficiency %}true{% else %}false{% endif %},"description": "{{attack.description}}", "type": "{{attack.type}}"}'>
								{% endif %}
								{% endfor %}
							</div>
						</div>
						<div class="magic_lvl lvl_5">
							<h2>LVL 5</h2>
							<div class="lvl-content" id="lvl_5">
								{% for attack in attacks %}
								{% if attack.type == 'magic' and attack.magic_lvl == 'lvl_5' %}
								<div class="attack created" id="attack_magic_config-{{attack.id}}-created">
									<h2>{{attack.name}}</h2>
								</div>
								<input type="hidden" id='attack_magic_data-{{attack.id}}' value='{"name": "{{attack.name}}", "magic_lvl": "{{attack.magic_lvl}}", "dice_1": "{{attack.dice_1}}","dice_2": "{{attack.dice_2}}","dice_3": "{{attack.dice_3}}","roll_1": {%if attack.roll_1 %}{{attack.roll_1}}{% else %}null{% endif %},"roll_2": {%if attack.roll_2 %}{{attack.roll_2}}{% else %}null{% endif %},"roll_3": {%if attack.roll_3 %}{{attack.roll_3}}{% else %}null{% endif %},"damage_modifier": {%if attack.damage_modifier %}{{attack.damage_modifier}}{% else %}null{% endif %},"attribute_modifier": "{{attack.attribute_modifier}}","proficiency": {%if attack.proficiency %}true{% else %}false{% endif %},"description": "{{attack.description}}", "type": "{{attack.type}}"}'>
								{% endif %}
								{% endfor %}
							</div>
						</div>
						<div class="magic_lvl lvl_6">
							<h2>LVL 6</h2>
							<div class="lvl-content" id="lvl_6">
								{% for attack in attacks %}
								{% if attack.type == 'magic' and attack.magic_lvl == 'lvl_6' %}
								<div class="attack created" id="attack_magic_config-{{attack.id}}-created">
									<h2>{{attack.name}}</h2>
								</div>
								<input type="hidden" id='attack_magic_data-{{attack.id}}' value='{"name": "{{attack.name}}", "magic_lvl": "{{attack.magic_lvl}}", "dice_1": "{{attack.dice_1}}","dice_2": "{{attack.dice_2}}","dice_3": "{{attack.dice_3}}","roll_1": {%if attack.roll_1 %}{{attack.roll_1}}{% else %}null{% endif %},"roll_2": {%if attack.roll_2 %}{{attack.roll_2}}{% else %}null{% endif %},"roll_3": {%if attack.roll_3 %}{{attack.roll_3}}{% else %}null{% endif %},"damage_modifier": {%if attack.damage_modifier %}{{attack.damage_modifier}}{% else %}null{% endif %},"attribute_modifier": "{{attack.attribute_modifier}}","proficiency": {%if attack.proficiency %}true{% else %}false{% endif %},"description": "{{attack.description}}", "type": "{{attack.type}}"}'>
								{% endif %}
								{% endfor %}
							</div>
						</div>
						<div class="magic_lvl lvl_7">
							<h2>LVL 7</h2>
							<div class="lvl-content" id="lvl_7">
								{% for attack in attacks %}
								{% if attack.type == 'magic' and attack.magic_lvl == 'lvl_7' %}
								<div class="attack created" id="attack_magic_config-{{attack.id}}-created">
									<h2>{{attack.name}}</h2>
								</div>
								<input type="hidden" id='attack_magic_data-{{attack.id}}' value='{"name": "{{attack.name}}", "magic_lvl": "{{attack.magic_lvl}}", "dice_1": "{{attack.dice_1}}","dice_2": "{{attack.dice_2}}","dice_3": "{{attack.dice_3}}","roll_1": {%if attack.roll_1 %}{{attack.roll_1}}{% else %}null{% endif %},"roll_2": {%if attack.roll_2 %}{{attack.roll_2}}{% else %}null{% endif %},"roll_3": {%if attack.roll_3 %}{{attack.roll_3}}{% else %}null{% endif %},"damage_modifier": {%if attack.damage_modifier %}{{attack.damage_modifier}}{% else %}null{% endif %},"attribute_modifier": "{{attack.attribute_modifier}}","proficiency": {%if attack.proficiency %}true{% else %}false{% endif %},"description": "{{attack.description}}", "type": "{{attack.type}}"}'>
								{% endif %}
								{% endfor %}
							</div>
						</div>
						<div class="magic_lvl lvl_8">
							<h2>LVL 8</h2>
							<div class="lvl-content" id="lvl_8">
								{% for attack in attacks %}
								{% if attack.type == 'magic' and attack.magic_lvl == 'lvl_8' %}
								<div class="attack created" id="attack_magic_config-{{attack.id}}-created">
									<h2>{{attack.name}}</h2>
								</div>
								<input type="hidden" id='attack_magic_data-{{attack.id}}' value='{"name": "{{attack.name}}", "magic_lvl": "{{attack.magic_lvl}}", "dice_1": "{{attack.dice_1}}","dice_2": "{{attack.dice_2}}","dice_3": "{{attack.dice_3}}","roll_1": {%if attack.roll_1 %}{{attack.roll_1}}{% else %}null{% endif %},"roll_2": {%if attack.roll_2 %}{{attack.roll_2}}{% else %}null{% endif %},"roll_3": {%if attack.roll_3 %}{{attack.roll_3}}{% else %}null{% endif %},"damage_modifier": {%if attack.damage_modifier %}{{attack.damage_modifier}}{% else %}null{% endif %},"attribute_modifier": "{{attack.attribute_modifier}}","proficiency": {%if attack.proficiency %}true{% else %}false{% endif %},"description": "{{attack.description}}", "type": "{{attack.type}}"}'>
								{% endif %}
								{% endfor %}
							</div>
						</div>
						<div class="magic_lvl lvl_9">
							<h2>LVL 9</h2>
							<div class="lvl-content" id="lvl_9">
								{% for attack in attacks %}
								{% if attack.type == 'magic' and attack.magic_lvl == 'lvl_9' %}
								<div class="attack created" id="attack_magic_config-{{attack.id}}-created">
									<h2>{{attack.name}}</h2>
								</div>
								<input type="hidden" id='attack_magic_data-{{attack.id}}' value='{"name": "{{attack.name}}", "magic_lvl": "{{attack.magic_lvl}}", "dice_1": "{{attack.dice_1}}","dice_2": "{{attack.dice_2}}","dice_3": "{{attack.dice_3}}","roll_1": {%if attack.roll_1 %}{{attack.roll_1}}{% else %}null{% endif %},"roll_2": {%if attack.roll_2 %}{{attack.roll_2}}{% else %}null{% endif %},"roll_3": {%if attack.roll_3 %}{{attack.roll_3}}{% else %}null{% endif %},"damage_modifier": {%if attack.damage_modifier %}{{attack.damage_modifier}}{% else %}null{% endif %},"attribute_modifier": "{{attack.attribute_modifier}}","proficiency": {%if attack.proficiency %}true{% else %}false{% endif %},"description": "{{attack.description}}", "type": "{{attack.type}}"}'>
								{% endif %}
								{% endfor %}
							</div>
						</div>
						<div class="magic_lvl lvl_10">
							<h2>Especial</h2>
							<div class="lvl-content" id="lvl_10">
								{% for attack in attacks %}
								{% if attack.type == 'magic' and attack.magic_lvl == 'lvl_10' %}
								<div class="attack created" id="attack_magic_config-{{attack.id}}-created">
									<h2>{{attack.name}}</h2>
								</div>
								<input type="hidden" id='attack_magic_data-{{attack.id}}' value='{"name": "{{attack.name}}", "magic_lvl": "{{attack.magic_lvl}}", "dice_1": "{{attack.dice_1}}","dice_2": "{{attack.dice_2}}","dice_3": "{{attack.dice_3}}","roll_1": {%if attack.roll_1 %}{{attack.roll_1}}{% else %}null{% endif %},"roll_2": {%if attack.roll_2 %}{{attack.roll_2}}{% else %}null{% endif %},"roll_3": {%if attack.roll_3 %}{{attack.roll_3}}{% else %}null{% endif %},"damage_modifier": {%if attack.damage_modifier %}{{attack.damage_modifier}}{% else %}null{% endif %},"attribute_modifier": "{{attack.attribute_modifier}}","proficiency": {%if attack.proficiency %}true{% else %}false{% endif %},"description": "{{attack.description}}", "type": "{{attack.type}}"}'>
								{% endif %}
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="popup-container" id="popup-container">
				<div class="popup" id="popup">
					<h2>Novo Ataque</h2>
					<div class="popup-form">
						<div class="popup_primary-form">
							<label for="attack-name">Nome do Ataque</label>
							<input type="text" id="attack-name" name="attack-name" maxlength="30">

							<label for="magic-lvl" id="magic-lvl-title">Nivel</label>
							<select id="magic-lvl" name="magic-lvl">
								<option value="lvl_0">Truque</option>
								<option value="lvl_1">lvl 1</option>
								<option value="lvl_2">lvl 2</option>
								<option value="lvl_3">lvl 3</option>
								<option value="lvl_4">lvl 4</option>
								<option value="lvl_5">lvl 5</option>
								<option value="lvl_6">lvl 6</option>
								<option value="lvl_7">lvl 7</option>
								<option value="lvl_8">lvl 8</option>
								<option value="lvl_9">lvl 9</option>
								<option value="lvl_10">Especial</option>
							</select>

							<label for="dice-type">Tipo de Dado 1</label>
							<select id="dice_1" name="dice-type">
								<option value="Nenhum">Nenhum</option>
								<option value="D4">D4</option>
								<option value="D6">D6</option>
								<option value="D8">D8</option>
								<option value="D10">D10</option>
								<option value="D12">D12</option>
								<option value="D20">D20</option>
								<option value="D100">D100</option>
							</select>

							<label for="dice-type">Tipo de Dado 2</label>
							<select id="dice_2" name="dice-type">
								<option value="Nenhum">Nenhum</option>
								<option value="D4">D4</option>
								<option value="D6">D6</option>
								<option value="D8">D8</option>
								<option value="D10">D10</option>
								<option value="D12">D12</option>
								<option value="D20">D20</option>
								<option value="D100">D100</option>
							</select>

							<label for="dice-type">Tipo de Dado 3</label>
							<select id="dice_3" name="dice-type">
								<option value="Nenhum">Nenhum</option>
								<option value="D4">D4</option>
								<option value="D6">D6</option>
								<option value="D8">D8</option>
								<option value="D10">D10</option>
								<option value="D12">D12</option>
								<option value="D20">D20</option>
								<option value="D100">D100</option>
							</select>

							<label for="rolls_1">Número de Rolagens 1</label>
							<input type="number" id="roll_1" name="rolls_1" min="0" max="100" disabled>
							<label for="rolls_2">Número de Rolagens 2</label>
							<input type="number" id="roll_2" name="rolls_2" min="0" max="100" disabled>
							<label for="rolls_3">Número de Rolagens 3</label>
							<input type="number" id="roll_3" name="rolls_3" min="0" max="100" disabled>

							<label for="damage-mod">Modificador de Dano</label>
							<input type="number" id="damage-mod" name="damage-mod" max="100">

							<label for="attribute-mod">Modificador de Atributo</label>
							<select id="attribute-mod" name="attribute-modifier" required>
								<option value="Nenhum">Nenhum</option>
								<option value="Força">Força</option>
								<option value="Destreza">Destreza</option>
								<option value="Constituição">Constituição</option>
								<option value="Inteligência">Inteligência</option>
								<option value="Sabedoria">Sabedoria</option>
								<option value="Carisma">Carisma</option>
							</select>

							<label for="proeficiency-box">Proeficiência</label>
							<input id="proeficiency-box" type="checkbox">
						</div>

						<div class="popup_secoundary-form">
							<textarea name="attack_description" id="attack_description" maxlength="5000"></textarea>
						</div>
					</div>

					<div class="popup-buttons" id="new_attack-section">
						<button type="button" id="new_attack-button">Criar ataque</button>
					</div>
					<div class="popup-buttons" id="edit_attack-section">
						<button type="button" id="edit_attack-button">Editar ataque</button>
						<button type="button" id="delete_attack-button">Deletar ataque</button>
					</div>

					<input type="hidden" id="is_created" value="false">

					<button type="button" id="close_popup-button">Fechar</button>
				</div>
			</div>

			<input value="" type="hidden" id="attacks_objects" name="attacks">		
			<input value="" type="hidden" id="remove_attacks_objects" name="remove_attacks">		
		</div>

		<div class="submit_form">
			{% csrf_token %}
			<input type="submit" name="create_character" value="Editar personagem" class="submit-button">
		</div>
	</form>
</div>
{% endblock %}

{% block script %}
<script>
	var attacks_num = 0

	//mostrar/esconder campos de magias
    $('.lvl-content').map((index, element)=> {
        const id = element.id

        if ($.trim($('#' + id).html()) === '') {
            $('.' + id).hide()
        } else {
            $('.' + id).show()
        }
    })
</script>

<script>
	//script para o popup

	const popupContainer = $('#popup-container')
	const popup = $('#popup')
	const closePopup_button = $('#close_popup-button')

	function openPopup(edit = false, type) {
		popupContainer.css('display', 'block')

		switch (edit) {
			case false:
				$('#edit_attack-section').css('display', 'none')
				$('#new_attack-section').css('display', 'block')

				break

			case true:
				$('#edit_attack-section').css('display', 'block')
				$('#new_attack-section').css('display', 'none')

				break
		}

		switch (type) {
			case "physical":
				$('#magic-lvl').css('display', 'none')
                $('#magic-lvl-title').css('display', 'none')
				break
			case "magic":
				$('#magic-lvl').css('display', 'block')
                $('#magic-lvl-title').css('display', 'block')
				break
		}
	}

	function closePopup() {
		//limpeza do form
		$('#attack-name').val(null)
		$('#magic-lvl').val('lvl_0')
		$('#dice_1').val('Nenhum')
		$('#dice_2').val('Nenhum')
		$('#dice_3').val('Nenhum')
		$('#roll_1').val(null)
		$('#roll_2').val(null)
		$('#roll_3').val(null)
		$('#roll_1').prop('disabled', true)
		$('#roll_2').prop('disabled', true)
		$('#roll_3').prop('disabled', true)
		$('#damage-mod').val(null)
		$('#attribute-mod').val('Nenhum')
		$('#proeficiency-box').prop('checked', false)
		$('#attack_description').val(null)

		$('#is_created').val('false')

		popupContainer.css('display', 'none')
	}

	closePopup_button.on('click', closePopup)

	popupContainer.on('click', (event) => {
		if (event.target === popupContainer) {
			closePopup()
		}
	})
</script>

<script>
	//script para corrigir a sessão de atributos e modificadores

	$('.atribute-input').on('change', function () {
		var atributo = $(this).val()

		if (atributo === '') {
			atributo = 10
			$(this).val(atributo)
		}

		var modificador = Math.floor((atributo - 10) / 2)
		var modificadorInput = $(this).prev('.modifier-input')

		if (modificadorInput.val() === '') {
			modificadorInput.val(modificador)
		}

		modificadorInput.val(modificador)
	})

	$('.modifier-input').on('change', function () {
		var modificador = $(this).val()

		if (modificador == '') {
			modificador = 0
			$(this).val(modificador)
		}

		var atributo = modificador * 2 + 10
		var atributoInput = $(this).next('.atribute-input')

		if (atributoInput.val() === '') {
			atributoInput.val(atributo)
		}

		atributoInput.val(atributo)
	})
</script>

<script>
	//script para inpedir que a sessão de dinheiro fique nula

	function adjustMoneyValue(field) {
		if (field.val() == '') {
			field.val(0)
		}
	}

	$('.money_category input[type="number"]').on('blur', function() {
		adjustMoneyValue($(this))
	})

	$('.money_category input[type="number"]').each(function() {
		adjustMoneyValue($(this))
	})
</script>

<script>
	//script do formulario

	const openPopupButton_physical = $('#new_attack_physical')
	const openPopupButton_magic = $('#new_attack_magic')

	const dice1Select = $('#dice_1')
	const dice2Select = $('#dice_2')
	const dice3Select = $('#dice_3')

	const rolls1Input = $('#roll_1')
	const rolls2Input = $('#roll_2')
	const rolls3Input = $('#roll_3')

	var attack_type

	openPopupButton_physical.on('click', () => {
		attack_type = 'physical'
		openPopup(false, attack_type)
	})

	openPopupButton_magic.on('click', () => {
		attack_type = 'magic'
		openPopup(false, attack_type)
	})

	dice1Select.on('change', () => {
		if (dice1Select.val() == 'Nenhum') {
			rolls1Input.prop('disabled', true)
			rolls1Input.val(null)
		} else {
			rolls1Input.prop('disabled', false)
		}
	})

	dice2Select.on('change', () => {
		if (dice2Select.val() == 'Nenhum') {
			rolls2Input.prop('disabled', true)
			rolls2Input.val(null)
		} else {
			rolls2Input.prop('disabled', false)
		}
	})

	dice3Select.on('change', () => {
		if (dice3Select.val() == 'Nenhum') {
			rolls3Input.prop('disabled', true)
			rolls3Input.val(null)
		} else {
			rolls3Input.prop('disabled', false)
		}
	})
</script>

<script>
	//script para criar um novo ataque

	const new_attack = $('#new_attack-button')

	new_attack.on('click', () => {
		let name = $('#attack-name').val()

		let magic_lvl = $('#magic-lvl').val()

		let dice_1 = $('#dice_1').val()
		let dice_2 = $('#dice_2').val()
		let dice_3 = $('#dice_3').val()

		let roll_1 = $('#roll_1').val()
		let roll_2 = $('#roll_2').val()
		let roll_3 = $('#roll_3').val()

		let damage_modifier = $('#damage-mod').val()
		let atribute_modifier = $('#attribute-mod').val()

		let proeficiency = $('#proeficiency-box').prop('checked')

		let description = $('#attack_description').val().replace(/\n/g, '{$br$}')

		let value = {
			name: name,
			magic_lvl: magic_lvl,
			dice_1: dice_1,
			dice_2: dice_2,
			dice_3: dice_3,
			roll_1: roll_1,
			roll_2: roll_2,
			roll_3: roll_3,
			damage_modifier: damage_modifier,
			attribute_modifier: atribute_modifier,
			proficiency: proeficiency,
			description: description,
			type: attack_type,
			created: JSON.parse($('#is_created').val())
		}

		const validate = validate_form(value)
		if (!validate.is_valid) {
			return alert(validate.error_message)
		}
		
		let object = []
		if (!!$('#attacks_objects').val()) {
			object = JSON.parse($('#attacks_objects').val())
			object[attacks_num] = validate.attack
		} else {
			object.push(validate.attack)
		}
		
		$("#attacks_objects").val(JSON.stringify(object))

		makeAttack(name, attacks_num, magic_lvl)
		attacks_num++

		closePopup()
	})
</script>

<script>
	//script para manejar o formulario

	//colocar eventos em novos elementos
	let attack_num
	function add_event(id, created=false) {
		$('#' + id).on('click', (element) => {
			attack_type = element.currentTarget.id.split('_')[1]

			if (created) {
				attack_num = element.currentTarget.id.split('-')[1]
				attack = $('#attack_' + attack_type + '_data-' + attack_num).val()
				fill_popup(attack, null, true)
			} else {
				attack_num = element.currentTarget.id.split('-')[1]
				attack = $('#attacks_objects').val()
				fill_popup(attack, attack_num)
			}

			openPopup(true, attack_type)
		})
	}

	$('.created').map((index, element) => {
		add_event(element.id, true)
	})

	//preencher popup com informações do ataque selecionado
	function fill_popup(object, num=null, created=false) {
		if (created) {
			object = JSON.parse(object)
			$('#is_created').val('true')
		} else {
			object = JSON.parse(object)[num]
		}

		$('#attack-name').val(object.name)
		$('#magic-lvl').val(object.magic_lvl)
  		$('#dice_1').val(object.dice_1)
  		$('#dice_2').val(object.dice_2)
  		$('#dice_3').val(object.dice_3)
  		$('#roll_1').val(object.roll_1)
  		$('#roll_2').val(object.roll_2)
  		$('#roll_3').val(object.roll_3)
  		$('#damage-mod').val(object.damage_modifier)
  		$('#attribute-mod').val(object.attribute_modifier)

		if (object.proficiency) {
			$('#proeficiency-box').prop('checked', true)
		} else {
			$('#proeficiency-box').prop('checked', false)
		}

		$('#attack_description').val(object.description.replace(/\{\$br\$\}/g, '\n'))
	}
	
	
</script>

<script>
	//script para edição de ataque
	var edit = false
	//edição de ataque
	$('#edit_attack-button').on('click', ()=> {
		const created = JSON.parse($('#is_created').val())

		let edited_name = $('#attack-name').val()

		let edited_magic_lvl = $('#magic-lvl').val()

		let edited_dice_1 = $('#dice_1').val()
		let edited_dice_2 = $('#dice_2').val()
		let edited_dice_3 = $('#dice_3').val()

		let edited_roll_1 = $('#roll_1').val()
		let edited_roll_2 = $('#roll_2').val()
		let edited_roll_3 = $('#roll_3').val()

		let edited_damage_modifier = $('#damage-mod').val()
		let edited_atribute_modifier = $('#attribute-mod').val()

		let edited_proeficiency = $('#proeficiency-box').prop('checked')
		let edited_description = $('#attack_description').val().replace(/\n/g, '{$br$}')

		let value = {
			name: edited_name,
			magic_lvl: edited_magic_lvl,
			dice_1: edited_dice_1,
			dice_2: edited_dice_2,
			dice_3: edited_dice_3,
			roll_1: edited_roll_1,
			roll_2: edited_roll_2,
			roll_3: edited_roll_3,
			damage_modifier: edited_damage_modifier,
			attribute_modifier: edited_atribute_modifier,
			proficiency: edited_proeficiency,
			description: edited_description,
			type: attack_type,
			created: created,
			delete: false
		}

		if (created) {
			value.id = parseInt(attack_num)
		}

		const validate = validate_form(value)
		if (!validate.is_valid) {
			return alert(validate.error_message)
		}

		edit = true

		let object = []
		if (created) {	
			const validate = validate_form(value)
			if (!validate.is_valid) {
				return alert(validate.error_message)
			}
			
			let object = []
			if (!!$('#attacks_objects').val()) {
				object = JSON.parse($('#attacks_objects').val())
				object[attacks_num] = validate.attack
			} else {
				object.push(validate.attack)
			}
			
			$("#attacks_objects").val(JSON.stringify(object))

			removeAttack(true)
			makeAttack(edited_name, attacks_num, edited_magic_lvl)
			attacks_num++
			closePopup()
		} else {
			object = JSON.parse($('#attacks_objects').val())
			object[attack_num] = validate.attack
			removeAttack()
			makeAttack(edited_name, attack_num, edited_magic_lvl)
		}
		
		closePopup()
	})
</script>

<script>
	//script para deletar ataques

	//remoção do ataque
	$('#delete_attack-button').on('click', () => {
		const created = JSON.parse($('#is_created').val())
		let object
		if (created) {
			removeAttack(true)
		} else {
			object = JSON.parse($('#attacks_objects').val())
			object.splice(attack_num, 1)

			$("#attacks_objects").val(JSON.stringify(object))

			removeAttack()
		}
		
		closePopup()
	})

	//remover ataque do front end
	function removeAttack(created) {
		if (created) {
			if (attack_type == 'magic') {
				$('#attack_magic_config-' + attack_num + '-created').remove()
				$('#attack_magic_data-' + attack_num).remove()
			} else {
				$('#attack_physical_config-' + attack_num  + '-created').remove()
				$('#attack_physical_data-' + attack_num).remove()
			}

			if (!!$('#remove_attacks_objects').val() && !edit) {
				object = JSON.parse($('#remove_attacks_objects').val())
				object.push(attack_num)
				$('#remove_attacks_objects').val(JSON.stringify(object))
			} else if (!edit) {
				object = [attack_num]
				$('#remove_attacks_objects').val(JSON.stringify(object))
			}
			
		} else {
			if (attack_type == 'magic') {
				$('#attack_magic_config-' + attack_num).remove()
			} else {
				$('#attack_physical_config-' + attack_num).remove()
			}
		}
		

		$('.lvl-content').map((index, element)=> {
			const id = element.id

			if ($.trim($('#' + id).html()) === '') {
				$('.' + id).css('display', 'none')
			}
		})

		edit = false
	}

	//refazer ids após remover um elemento
	function remakeId() {
		$('.attack').map((index, element)=> {
			if (index > attack_num) {
				const id = element.id
				const this_attack_type = id.split('_')[1]

				let this_attack_num = parseInt(id.split('-')[1])

				this_attack_num--

				switch (this_attack_type) {
					case 'physical':
						$('#' + id).attr('id', 'attack_physical_config-' + this_attack_num)
						break
					
					case 'magic':
						$('#' + id).attr('id', 'attack_magic_config-' + this_attack_num)
						break
				}

			} 
		})

		attacks_num--
	}
</script>

<script>
	//funções globais

	//função para criar um novo elemento no front end
	function makeAttack(fName, fAttack_num, fMagic_lvl) {
		if (attack_type == 'physical') {
			const temp = '<div class="attack" id="attack_physical_config-' + fAttack_num + '"> \n' +
				'<h2>' + fName + '</h2> \n' +
				'</div>'

			$('.physical_attacks-field').append(temp)
			add_event('attack_physical_config-' + fAttack_num)
		}

		if (attack_type == 'magic') {
			const temp = '<div class="attack" id="attack_magic_config-' + fAttack_num + '"> \n' +
				'<h2>' + fName + '</h2> \n' +
				'</div>'

			$('#' + fMagic_lvl).append(temp)
			$('.' + fMagic_lvl).css('display', 'block')
			add_event('attack_magic_config-' + fAttack_num)
		}
	}

	//validação do formulário de ataque
	function validate_form(attack) {
		let is_valid = true
		let error_message

		if (attack.name.trim() == '') {
			is_valid = false
			error_message = 'Campo nome não preenchido'
		}

		if (attack.name.length > 30) {
			is_valid = false
			error_message = 'Nome não pode ser maior que 30 caracteres'
		}

		if (attack.damage_modifier > 100) {
			is_valid = false
			error_message = 'Modificador de dano não pode ser maior que 100'
		}

		if (attack.description.length > 5000) {
			is_valid = false
			error_message = 'Descrição muito longa'
		}

		attack.roll_1 = validate_dice(attack.dice_1, attack.roll_1)
		attack.roll_2 = validate_dice(attack.dice_2, attack.roll_2)
		attack.roll_3 = validate_dice(attack.dice_3, attack.roll_3)

		function validate_dice(dice, roll) {
			if (dice != 'Nenhum' && (roll == 0 || roll == null)) {
				roll = 1
			}

			return roll
		}

		return {
			is_valid,
			error_message,
			attack
		}
	}
</script>
{% endblock %}