{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/entrance.css' %}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}

{% block content %}
<div class="container">
  <div class="login-box">

    <h1>Registrar</h1>
    {% if error_message %}
    <p class="message-error">{{error_message}}</p>
    {% endif %}

    <form id="login-form" method="POST">
      {% csrf_token %}

        <div class="form-group">
          <input type="text" name="username" id="username" placeholder="Nome de usuário">
          <input type="email", name="email", id="email", placeholder="Email">
          <input type="password" name="password" id="password" placeholder="Senha">
          <input type="password" name="password_confirm" id="password_confirm" placeholder="Confirme sua senha">
        </div>

      <div class="form-group">
        <button type="submit" class="btn">Registrar</button>
      </div>
    </form>

    <p class="bottom-p">Já tem uma conta? <a href="/login/">Entre</a></p>

  </div>
</div>

{% endblock %}

{% block script %}
{% endblock %}