* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

header {
    padding: 1rem;
    background-color: #2b2d42;
    display: flex;
    align-items: center;
}

header a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.back-button {
	font-size: x-large;
}

.home-page {
	margin-left: 1rem;
    font-size: x-large;
}

.container {
	margin: 0 auto;
	padding: 1rem;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2rem;
}

h1 {
	font-size: 2rem;
}

.new-char {
	background-color: #2b2d42;
	color: #fff;
	padding: 1rem;
	border-radius: 5px;
	border: none;
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
	transition: 0.3s;
}

.new-char:hover {
	background-color: #1d1f2f;
}

.search-container {
	display: flex;
	align-items: center;
	margin-bottom: 1rem;
}

input[type="text"] {
	padding: 0.5rem;
	border-radius: 5px 0 0 5px;
}

.search-btn {
	background-color: #2b2d42;
	color: #fff;
	padding: 0.5rem;
	border-radius: 0 5px 5px 0;
	font-weight: bold;
	cursor: pointer;
}

.search-btn:hover {
	background-color: 1d1f2f;
}

.display-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.campaign {
	background-color: #f1f1f1;
	box-shadow: 0px 0px 5px #888;
	border-radius: 5px;
	margin: 2rem;
}

.campaign img {
	width: 300px;
}

.campaign h2 {
    margin-top: 1rem;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0.5rem;
    font-size: x-large;
}

.campaign .buttons {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 0.5rem;
}

.edit-btn,
.delete-btn {
	padding: 1px 5px;
    text-decoration: none;
    color: black;
    border: solid 2px;
    border-radius: 5px;
    cursor: pointer;
}

.edit-btn:hover,
.delete-btn:hover {
	background-color: #c9c9c9
}